// Colors used on site
$color_main: rgb(216, 132, 30);
$color_alert: rgb(178, 50, 41);
$color_action: rgb(178, 127, 41);
$color_success: rgb(59, 178, 41);

// Theme colors
$color_dark: rgb(33, 33, 33);
$color_light: rgb(238, 238, 238);

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

// Font sizes
$font-small: 1rem;
$font-medium: 2.2rem;
$font-large: 4rem;
